.about {
    /* Add necessary styling to your .about container */
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the content horizontally */
    text-align: center; /* This will center the text content */
}

.centered-image {
    /* Add any additional styling for the image here */
    margin: 20px auto; /* This will center the image horizontally */
}

.header1 {
    text-decoration: underline;
    font-size: 30px;
}