.about {
    /* Add necessary styling to your .about container */
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the content horizontally */
    text-align: center; /* This will center the text content */
}

.centered-image {
    margin: 20px auto; 
}

.header1 {
    text-decoration: underline;
    font-size: 30px;
    color: white; 
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; 
}

.header2 {
    color: white; /* Set the text color to white */
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; 
}

.text {
    color: white; /* Set the text color to white */
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; 
}