.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.project-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: #0056b3;
}

.project-screenshot {
  max-width: 100%;
  text-align: center;
}

.project-screenshot img {
  max-width: 100%;
  height: auto;
}
