.resume-container {
    text-align: center;
    margin-top: 20px; 
    background-color: #f1f1f1;
    right: 0;
  }
  
  .resume-title {
    font-size: 20px;
  }
  
  .resume-title small {
    display: block;
    font-size: 20px;
  }
  
  .resume-link {
    display: block;
    font-size: 20px;
    margin-top: 5px; /* Add spacing above the resume link */
  }
  
  .proficiencies {
    text-align: center;
    margin-top: 20px; /* Add spacing above the list */
  }
  
  .proficiencies-title {
    font-weight: bold;
  }
  
  .technologies {
    text-align: left;
    margin-top: 10px;
    padding-left: 20px;
  }
  
  /* Additional styling for list items if needed */
  .technologies li {
    margin-bottom: 5px;
  }
  