body, html {
    height: 100%; 
    margin: 0; 
    padding: 0; 
  }

/* body {
    background-image: url('./resources/images/Richmond4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
  } */